%p
  %h4= task.title
%p
  %b Author:
  = task.author.name
%p
  %i{:class =>"icon-#{task.template.icon}"}
  = task.template.name
%p
  %b Notes:
  = task.notes
- if task.template.has_acceptance_criteria?
  %p
    %b AC:
    = task.acceptance_criteria
%p
  %b State:
  = task.current_state.name
%p
  %b Points:
  = task.points
%p
  %b Tasks:
  - task.sub_tasks.each do |sub_task|
    = render :partial => 'tasks/brief', :locals => {:task => sub_task}

= link_to 'Edit', edit_task_path(task)
\|
= link_to 'Back', tasks_path
